.salesloft-people {
  width: 850px;
  margin: 2em auto;
}

.salesloft-people-list thead {
  display: table-header-group;
  background: #000;
}
.salesloft-people-list tbody {
  display: table-row-group;
}

.salesloft-people-list .MuiTableRow-head th {
  background: #4a90e2;
  color: #fff;
  font-weight: bold;
  line-height: 3em;
}

.salesloft-people-list .MuiTableCell-root {
  padding: 0 16px;
}
