# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: c8b83df29b098f989eb06f6d3f22be1144b2d34c7edd5effb230adb3dad9a47c236720ccf03ccf9f02891ba324c33363e6ac3bfdfd19fcecec8757a97deaee21

test:
  secret_key_base: 1580d2156404377613baef394bafd1059bf004074f028e15b3727b4fff6627d30625b485b0f6eedf94108ab16b3145cfb1c11d7e302b277ae025be7b6d4682e4

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
